.ResultTable{
    width: 70%;
    min-height: 800px;
    margin-left: 30px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.55);
}

.custom_filter_dropdown {
    padding: 8px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
}

.custom_filter_dropdown input {
    width: 130px;
    margin-right: 8px;
}

.highlight {
    color: #f50;
}
